[report]
omit =
    /home/*/.buildout/eggs/*
    /usr/*
    bin/test
    buildout-cache/eggs/*
    eggs/*
    parts/*
    collective/easyform/tests/*
    */lib/*
    collective/__init__.py
    *.txt
    *.rst
