[report]
omit =
    /home/*/.buildout/eggs/*
    /home/travis/buildout-cache/eggs/*
    /home/travis/virtualenv/*
    /usr/*
    bin/test
    eggs/*
    parts/*
    src/collective/easyform/tests/*
    */lib/*
    *.txt
    *.rst
