*.py?
*.pyc
.DS_Store
*~
*.egg-info
*.egg
*.graffle
*.kate-swp
.installed.cfg
.mr.developer.cfg
.coverage
/bin/
/develop-eggs/
/extras/
/parts/
/var/
/buildout-cache/
/src/
/htmlcov/
/collective/easyform/tests/*.tar.gz
/docs/doctrees
/docs/html
/docs/Makefile
/docs/make.bat
*.mo
/dist
