*.egg
*.egg-info
*.graffle
*.kate-swp
*.mo
*.py?
*.pyc
*~
.DS_Store
.Python
.coverage
.installed.cfg
.mr.developer.cfg
bin/
buildout-cache/
collective/easyform/tests/*.tar.gz
develop-eggs/
dist
docs/Makefile
docs/doctrees
docs/html
docs/make.bat
extras/
htmlcov/
include/
lib/
lib64
parts/
pip-selfcheck.json
pyvenv.cfg
src/
var/
