language: python
sudo: false
cache:
  pip: true
  directories:
    - $HOME/buildout-cache
python:
  - 2.7
before_install:
  - mkdir -p $HOME/buildout-cache/{eggs,downloads}
  - mkdir $HOME/.buildout
  - echo "[buildout]" > $HOME/.buildout/default.cfg
  - echo "download-cache = $HOME/buildout-cache/downloads" >> $HOME/.buildout/default.cfg
  - echo "eggs-directory = $HOME/buildout-cache/eggs" >> $HOME/.buildout/default.cfg
install:
  - python bootstrap-buildout.py -c travis.cfg
  - bin/buildout -Nc travis.cfg annotate
  - bin/buildout -Nc travis.cfg
before_script:
  - export DISPLAY=:99.0
#   - sh -e /etc/init.d/xvfb start
script:
  - bin/code-analysis
  - bin/coverage run bin/test -a 1
after_success:
  - pip install -q coveralls python-coveralls==2.5.0 coverage==3.7.1
  - coveralls
