exclude *.sh
exclude .*.cfg
exclude .coveragerc
exclude .DS_Store
exclude .tx
exclude .tx/config
exclude buildout.cfg
exclude tests.cfg
global-exclude *.pyc
graft docs
graft src/collective
include *.cfg
include *.rst
include *.txt
