graft docs
graft src/collective
include *.rst
include requirements.txt
include constraints.txt
global-exclude *.pyc __pycache__
exclude *.sh
exclude .*.cfg
exclude .coveragerc
exclude .DS_Store
exclude .tx
exclude .tx/config
exclude buildout.cfg
exclude api.http
