.fieldPreview {
    background: #eee;
    padding: 1em 1em 1px 1em;
    margin: 0.5em 0;
    -moz-border-radius: 0.5em;
    position: relative;
    border: solid 2px #ccc;
}

.fieldFromBehavior {
    border: dashed 2px #ccc;
}

.fieldFromBehavior .disabled-field-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background: #fff;
    opacity: 0.6;
}

.fieldLabel {
    background: #ddd;
    border-right: solid 1px #fff;
    border-bottom: solid 1px #fff;
    -moz-border-radius-bottomright: 0.5em;
    margin: -1em -1em 0.5em -1em;
    padding: 0.5em;
    position: relative;
    z-index: 3;
}

.fieldFromBehavior .fieldLabel {
    outline-width-top: 0;
    outline-left: none;
}

.fieldControls {
    position: absolute;
    top: 0;
    right: 1em;
    z-index: 10;
}

#content #form fieldset {
    width: 100%;
    border-top: none;
}

#content #form legend {
    display: none;
}

.contenttype-easyform.contenttype-easyform::before {
    font-family: 'Glyphicons Halflings';
    content: '\e028';
    top: 2px;
}

.icon-easyform-view.toolbar-menu-icon::before {
    content: '\e807';
}