name: tests

on:
  push:
    branches: master
  pull_request:
    branches: master
  workflow_dispatch:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        config:
        # [Python version, tox env]
        - ["3.8",   "plone60-py38"]
        - ["3.9",   "plone60-py39"]
        - ["3.10",  "plone60-py310"]
    runs-on: ubuntu-latest
    name: ${{ matrix.config[1] }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.config[0] }}
    - name: Pip cache
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ matrix.config[0] }}-${{ hashFiles('setup.*', 'tox.ini') }}
        restore-keys: |
          ${{ runner.os }}-pip-${{ matrix.config[0] }}-
          ${{ runner.os }}-pip-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox
    - name: Test
      run: tox -e ${{ matrix.config[1] }}
